
  
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  
  
  text-align: center;
  overflow-wrap: break-word;
}
.blue{
  background-color: lightblue;
}
.blue:hover{
  background-color:rgb(108, 174, 177);
}
.red{

  background-color:#ff9999  ;
}
.red :hover{
  background-color:#ff8080
  ;
}
.headercell , .switch{
  background-color: rgb(2, 107, 110);
  color: aliceblue;
  font-size: 100%;
  padding-top: 0.5%;
  
}

.switch:hover{
  background-color:rgb(8, 92, 94);
  font-size: 1.2em;
  
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: lime;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.sml{
  font-size: 0.8em;
  overflow: hidden;
  height: 100%;
}

.remove  {
  position: absolute;
  right  :2px;
  top: -4px !important;
  cursor: pointer
}
.GridRow {
margin-left: 0.5% !important;
margin-bottom: 1%;


}

.grid{
  background-color: azure;
  height: 530px;
}
.buttonsdiv{
  position: absolute;
  right:   -7%;
  margin-top:0%;
  margin-left: 10% !important;
  width: 50%
}
.save {
  background-color: 	rgb(34,139,34)  !important;
 width: 25%;
}
.save:hover  {
  background-color: 	rgb(13, 88, 13)  !important;

}
.alert{
  width: 100%;
 margin: 0% !important;

}
.alarmRow{
  margin: 0%;

}
.conflictTree{
  margin-left: -12%;
}